/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');

/* Tailwind */
@import "tailwindcss";

/* CSS Variables */
:root {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* Base Layer */
@layer base {

  body {
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }

  button {
    font-family: var(--font-heading);
    @apply cursor-pointer;
  }

  input:not([type="checkbox"]) {
    @apply outline-none border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }

  textarea {
    @apply outline-none border border-gray-300 rounded-lg resize-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }

}